@import '~bulma/bulma.sass';

.page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  padding: 48px 0;

  .button {
    margin-left: 24px;
  }
}

// opacity
.opacity-enter-active,
.opacity-leave-active {
  transition: opacity 0.2s;
}

.opacity-enter,
.opacity-leave-to {
  opacity: 0;
}

::v-deep .modal-card-body {
  min-height: 600px;
}

.app-modal {
  display: flex;
}
